.script {
    border: 1px black solid;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.script h4 {
    margin-left: 1em;
    margin-right: 1em;
}